@using MvcKutuphane.Models.Entity;
@model List<TBLDUYURULAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    string renk = "";
}

<h2>Duyurular</h2>

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>BAŞLIK</th>
        <th>TARİH</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var duyuru in Model)  //foreach döngüsü ile model gezilip veriler okunuyor

    {
        if (duyuru.KATEGORI == "İletişim")
        {
            renk = "bg-info text-white";
        }
        <tr>
            <td>@duyuru.ID</td> @*ID ve ad çağırılıyor ve listeleniyor*@
            <td class="@renk">@duyuru.KATEGORI</td>
            <td>@Convert.ToDateTime(duyuru.TARIH).ToString("dd/MM/yyyy")</td>
            <td>@Html.ActionLink("SİL", "DuyuruSil", new { id = duyuru.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor musunuz?')" })</td>
            <td><a href="/Duyuru/DuyuruDetay/@duyuru.ID" class="btn btn-warning">DETAYLAR</a></td>
        </tr>
    }
</table>
<a href="/Duyuru/YeniDuyuru/" class="btn btn-primary">Yeni Duyuru Ekle</a>

